# Workflow 1, Module 1 (condition similarity)

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

robokop='robokop.renci.org'

In [2]:
common_diseases = [
("MONDO:0005578","arthritis"),
("MONDO:0005148","type 2 diabetes mellitus"),
("MONDO:0002406","dermatitis"),
("MONDO:0008383","rheumatoid arthritis"),
("MONDO:0005359","drug-induced liver injury"),
("MONDO:0006573","lipodystrophy (disease)"),
("MONDO:0008226","aggressive periodontitis"),
("MONDO:0001627","dementia"),
("MONDO:0005265","inflammatory bowel disease"),
("MONDO:0004979","asthma"),
("MONDO:0005298","osteoporosis"),
("MONDO:0006932","pulmonary edema"),
("MONDO:0005180","Parkinson disease"),
("MONDO:0006658","arteriolosclerosis"),
("MONDO:0005090","schizophrenia"),
("MONDO:0005152","hypopituitarism"),
("MONDO:0001835","facial paralysis"),
("MONDO:0001824","polyneuropathy"),
("MONDO:0005301","multiple sclerosis"),
("MONDO:0006644","alcoholic liver cirrhosis")
]

In [3]:
#This is the templated query that goes (disease)-(set of phenotypes)-(genetic condition)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod1/{disease_id}/?name1={disease_name}&max_connectivity=1000'

for disease_id, disease_name in common_diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    answer_frame = parse_answer(answers,node_list=['n2'],edge_list=[])
    display(answer_frame.head())
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))

        n2 - id                                          n2 - name       score
0  MONDO:0015789  non-acquired combined pituitary hormone defici...  39.085538
1  MONDO:0015891  hypogonadotropic hypogonadism associated with ...  38.773406
2  MONDO:0009693                                   multiple myeloma  38.380178
3  MONDO:0010602                                       hemophilia A  38.133402
4  MONDO:0015973                  rare genetic coagulation disorder  32.022307

        n2 - id                   n2 - name       score
0  MONDO:0011565        metabolic syndrome X  57.508989
1  MONDO:0011382          sickle cell anemia  36.194567
2  MONDO:0009693            multiple myeloma  34.576429
3  MONDO:0009061             cystic fibrosis  32.139963
4  MONDO:0002413  glycogen storage disease I  28.325185

        n2 - id                                          n2 - name       score
0  MONDO:0015891  hypogonadotropic hypogonadism associated with ...  38.529796
1  MONDO:0015789  non-acquired combined pituitary hormone defici...  37.911959
2  MONDO:0015135  primary immunodeficiency due to a genetic defe...  37.857168
3  MONDO:0020192                       rare lacrimal system disease  37.848070
4  MONDO:0019743  nephropathy secondary to a storage or other me...  35.979801

        n2 - id           n2 - name       score
0  MONDO:0009693    multiple myeloma  40.030462
1  MONDO:0010602        hemophilia A  31.507744
2  MONDO:0008364     Raynaud disease  30.826464
3  MONDO:0009061     cystic fibrosis  29.260801
4  MONDO:0015977  agammaglobulinemia  29.099676

        n2 - id                     n2 - name       score
0  MONDO:0009693              multiple myeloma  31.080972
1  MONDO:0011382            sickle cell anemia  27.638266
2  MONDO:0006507    hereditary hemochromatosis  27.542584
3  MONDO:0002413    glycogen storage disease I  24.111196
4  MONDO:0002408  bilirubin metabolic disorder  23.716608

        n2 - id                                  n2 - name       score
0  MONDO:0015949  rare genetic subcutaneous tissue disorder  56.702831
1  MONDO:0019599                      primary lipodystrophy  56.669926
2  MONDO:0020087                      genetic lipodystrophy  54.447182
3  MONDO:0019303                            premature aging  34.958910
4  MONDO:0021106                                laminopathy  32.765960

        n2 - id                                          n2 - name       score
0  MONDO:0008226                           aggressive periodontitis  12.516143
1  MONDO:0009490                           Papillon-Lefevre disease   8.083064
2  MONDO:0010002                          Rothmund-Thomson syndrome   7.271703
3  MONDO:0008007                                    tooth ankylosis   5.011891
4  MONDO:0015135  primary immunodeficiency due to a genetic defe...   4.978870

        n2 - id                              n2 - name        score
0  MONDO:0020142        metabolic disease with dementia  105.194786
1  MONDO:0015244  autosomal recessive cerebellar ataxia  100.532550
2  MONDO:0020139       early-onset ataxia with dementia   98.807442
3  MONDO:0016397        lysosomal disease with epilepsy   58.007847
4  MONDO:0019255                       sphingolipidosis   56.601739

        n2 - id                                          n2 - name       score
0  MONDO:0015135  primary immunodeficiency due to a genetic defe...  24.691495
1  MONDO:0018305                      chronic granulomatous disease  23.419838
2  MONDO:0015133  quantitative and/or qualitative congenital pha...  20.245068
3  MONDO:0015978                       functional neutrophil defect  19.748066
4  MONDO:0015973                  rare genetic coagulation disorder  17.218170

        n2 - id                        n2 - name       score
0  MONDO:0009061                  cystic fibrosis  29.826465
1  MONDO:0015977               agammaglobulinemia  19.849952
2  MONDO:0011382               sickle cell anemia  19.316353
3  MONDO:0010086     sudden infant death syndrome  18.861209
4  MONDO:0007186  gastroesophageal reflux disease  18.840881

        n2 - id           n2 - name       score
0  MONDO:0009693    multiple myeloma  31.056421
1  MONDO:0009061     cystic fibrosis  28.788893
2  MONDO:0019499     Turner syndrome  27.570500
3  MONDO:0011382  sickle cell anemia  26.554086
4  MONDO:0019402    beta thalassemia  26.052664

        n2 - id                              n2 - name       score
0  MONDO:0011382                     sickle cell anemia  26.148519
1  MONDO:0009061                        cystic fibrosis  25.502478
2  MONDO:0009971  newborn respiratory distress syndrome  20.246464
3  MONDO:0011827               patent ductus arteriosus  19.030919
4  MONDO:0008364                        Raynaud disease  17.130614

        n2 - id                             n2 - name       score
0  MONDO:0019037        progressive supranuclear palsy  15.718797
1  MONDO:0007182                Machado-Joseph disease  13.928159
2  MONDO:0007739                  Huntington's disease  13.806922
3  MONDO:0020380  autosomal dominant cerebellar ataxia  13.733921
4  MONDO:0016295        neuronal ceroid lipofuscinosis  13.069742

        n2 - id                   n2 - name       score
0  MONDO:0011382          sickle cell anemia  10.312115
1  MONDO:0011565        metabolic syndrome X   9.189836
2  MONDO:0009693            multiple myeloma   8.690221
3  MONDO:0002413  glycogen storage disease I   8.632319
4  MONDO:0001083            Fanconi syndrome   8.194327

        n2 - id                        n2 - name      score
0  MONDO:0012048            endogenous depression  3.383244
1  MONDO:0007089            Alzheimer's disease 2  2.777867
2  MONDO:0015650                epilepsy syndrome  2.390178
3  MONDO:0007661                Tourette syndrome  2.340015
4  MONDO:0020142  metabolic disease with dementia  2.300050

,n2 - id,n2 - name,score
0,MONDO:0015789,non-acquired combined pituitary hormone defici...,167.165132
1,MONDO:0015891,hypogonadotropic hypogonadism associated with ...,165.881352
2,MONDO:0015981,inherited gynecological tumor,89.301574
3,MONDO:0003689,congenital hemolytic anemia,46.516708
4,MONDO:0009693,multiple myeloma,46.269968

        n2 - id                                 n2 - name       score
0  MONDO:0007972                           Meniere disease  24.564720
1  MONDO:0007154  arteriovenous malformations of the brain  18.786982
2  MONDO:0002457                 Treacher-Collins syndrome  16.398326
3  MONDO:0008006                           Mobius syndrome  16.218949
4  MONDO:0021061                         neurofibromatosis  15.745450

        n2 - id                    n2 - name       score
0  MONDO:0009637       mitochondrial myopathy  19.224412
1  MONDO:0008056    myotonic dystrophy type 1  17.917368
2  MONDO:0015626  Charcot-Marie-tooth disease  17.803261
3  MONDO:0007275       carpal tunnel syndrome  16.732965
4  MONDO:0009693             multiple myeloma  15.506461

        n2 - id                                          n2 - name       score
0  MONDO:0007154           arteriovenous malformations of the brain  26.049284
1  MONDO:0015891  hypogonadotropic hypogonadism associated with ...  21.594255
2  MONDO:0015789  non-acquired combined pituitary hormone defici...  21.111941
3  MONDO:0016021           early infantile epileptic encephalopathy  20.602088
4  MONDO:0011382                                 sickle cell anemia  20.538909

        n2 - id                     n2 - name       score
0  MONDO:0006507    hereditary hemochromatosis  22.494554
1  MONDO:0009061               cystic fibrosis  21.043946
2  MONDO:0002408  bilirubin metabolic disorder  19.809561
3  MONDO:0018150               Gaucher disease  19.161586
4  MONDO:0010200                Wilson disease  17.994031

In [2]:
#This is the templated query that goes (disease)-(set of phenotypes)-(genetic condition)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod1/{disease_id}/?name1={disease_name}&max_connectivity=1000'

common_diseases = [('MONDO:0001999','primary pulmonary hypertension')]

for disease_id, disease_name in common_diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    answer_frame = parse_answer(answers,node_list=['n2'],edge_list=[])
    display(answer_frame.head())
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))

         n2 - id                                          n2 - name     score
0  MONDO:0008347  idiopathic and/or familial pulmonary arterial ...  4.554698
1  MONDO:0015512                               genetic hypertension  3.734768
2  MONDO:0009937                    pulmonary venoocclusive disease  3.340070
3  MONDO:0006664                         atrial heart septal defect  2.846396
4  MONDO:0009144                                    Ebstein anomaly  2.844463